.logo img{
    width: 60%;
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.esqueci-senha{
    text-align: right;
    font-size: 16px;
    font-style: italic;    
}

.esqueci-senha>a{
    text-decoration: none;
    color: var(--cor-primaria);
}

.group {
    margin-top: 10px;
    margin-bottom: 10px;
}